/** labels **/

.printlabel {
	font-family: arial;
	font-weight: bold;
	text-align: center;
	width: 4in;
	height: 2.25in;
	border: 1px solid;
}

.printlabel .customer {
	font-size: 48pt;
}
.printlabel .left{
	float: left;
	width: 200px;
}
.printlabel .customer_part_number {
	font-size: 20px;
	margin-bottom: 10px;
}
.printlabel .work_order_number  {
	font-size: 72px;
	float: right;
	margin-right: 20px;
}
.printlabel .wo_tag {
	font-size: 36px;
}
.printlabel .work_area {
	font-size: 20px;
	margin-right: 1px;
}

